# Amazon Delivery Analysis

This notebook explores and analyzes delivery time data with the goal of improving delivery efficiency. The data includes information on orders, agents, locations, times, and external factors such as weather and traffic conditions.

## Business Problem

In the competitive world of e-commerce, timely delivery is crucial for customer satisfaction and retention. This project aims to analyze delivery times and identify key factors contributing to delays. By understanding these factors, the company can make informed decisions to enhance delivery efficiency and improve overall customer satisfaction.
The source of the data set is from https://www.kaggle.com/datasets/sujalsuthar/amazon-delivery-dataset

## Data Overview

The dataset contains information on approximately 43,739 delivery orders. It includes the following 16 columns:
- `Order ID`: Unique identifier for each order
- `Agent Age`: Age of the delivery agent
- `Agent Rating`: Performance rating of the delivery agent
- `Store Latitude/Longitude`: Geographic location of the store
- `Drop Latitude/Longitude`: Geographic location of the delivery destination
- `Order Time`: Timestamp of when the order was placed
- `Pickup Time`: Timestamp of when the order was picked up
- `Delivery Time`: Timestamp of when the order was delivered
- `Weather`: Weather conditions during delivery
- `Traffic`: Traffic conditions during delivery
- `Vehicle`: Type of vehicle used for delivery
- `Area`: Urban or rural area designation
- `Category`: Type of items in the order (e.g., electronics, groceries)

The data will be analyzed to uncover patterns and insights that could help reduce delivery times and improve operational efficiency.

In [107]:
# Installation of Packages and Libraries in Python-3.8.17

!pip install pandas 
!pip install numpy
!pip install matplotlib

Requirement already satisfied: pandas in /cloud/lib/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: tzdata>=2022.1 in /cloud/lib/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /cloud/lib/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /cloud/lib/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Requirement already satisfied: numpy in /cloud/lib/lib/python3.8/site-packages (1.24.4)
Requirement already satisfied: matplotlib in /cloud/lib/lib/python3.8/site-packages (3.7.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in /cloud/lib/lib/python3.8/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /cloud/lib/lib/python3.8/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /cloud/lib/lib/python3.8/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /cloud/lib/lib/python3.8/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /cloud/lib/lib/python3.8/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: numpy<2,>=1.20 in /cloud/lib/lib/python3.8/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /usr/local/lib/python3.8/dist-packages (from matplotlib) (5.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /cloud/lib/lib/python3.8/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.14.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /cloud/lib/lib/python3.8/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib) (3.20.1)

In [108]:
#Importing Pandas and numpy Librbary 

import pandas as pd
import numpy as np

In [109]:
# Importing the data

df = pd.read_csv('amazon_delivery.csv')

In [110]:
# understanging the Data framework = 43,739 Rows and 16 colummns
df.shape

(43739, 16)

In [64]:
# Undertsanding the column_names
df.head(16)

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,3/19/2022,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,3/25/2022,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,3/19/2022,8:30:00,8:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,4/5/2022,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,3/26/2022,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys
5,fxuu788413734,22,4.8,17.431668,78.408321,17.461668,78.438321,3/11/2022,21:20:00,21:30:00,Cloudy,Jam,motorcycle,Urban,130,Toys
6,njmo150975311,33,4.7,23.369746,85.339820,23.479746,85.449820,3/4/2022,19:15:00,19:30:00,Fog,Jam,scooter,Metropolitian,200,Toys
7,jvjc772545076,35,4.6,12.352058,76.606650,12.482058,76.736650,3/14/2022,17:25:00,17:30:00,Cloudy,Medium,motorcycle,Metropolitian,160,Snacks
8,uaeb808891380,22,4.8,17.433809,78.386744,17.563809,78.516744,3/20/2022,20:55:00,21:05:00,Stormy,Jam,motorcycle,Metropolitian,170,Electronics
9,bgvc052754213,36,4.2,30.327968,78.046106,30.397968,78.116106,2/12/2022,21:55:00,22:10:00,Fog,Jam,motorcycle,Metropolitian,230,Toys
10,vmau710398846,21,4.7,10.003064,76.307589,10.043064,76.347589,2/13/2022,14:55:00,15:05:00,Stormy,High,motorcycle,Metropolitian,115,Cosmetics
11,lcwn330553507,23,4.7,18.562450,73.916619,18.652450,74.006619,3/4/2022,17:30:00,17:40:00,Sandstorms,Medium,scooter,Metropolitian,105,Shoes
12,wcjs752046999,34,4.3,30.899584,75.809346,30.919584,75.829346,2/13/2022,9:20:00,9:30:00,Sandstorms,Low,motorcycle,Metropolitian,100,Apparel
13,blhl288691670,24,4.7,26.463504,80.372929,26.593504,80.502929,2/14/2022,19:50:00,20:05:00,Fog,Jam,scooter,Metropolitian,205,Jewelry
14,zyvo118176215,29,4.5,19.176269,72.836721,19.266269,72.926721,4/2/2022,20:25:00,20:35:00,Sandstorms,Jam,van,Metropolitian,100,Outdoors
15,uhfs888375680,35,4.0,12.311072,76.654878,12.351072,76.694878,3/1/2022,14:55:00,15:10:00,Windy,High,scooter,Metropolitian,33,Grocery

In [111]:
# Data types
df.columns

Index(['Order_ID', 'Agent_Age', 'Agent_Rating', 'Store_Latitude',
       'Store_Longitude', 'Drop_Latitude', 'Drop_Longitude', 'Order_Date',
       'Order_Time', 'Pickup_Time', 'Weather', 'Traffic', 'Vehicle', 'Area',
       'Delivery_Time', 'Category'],
      dtype='object')

In [112]:
# We want a count of Null values in the data set

df.isnull().sum()

Order_ID            0
Agent_Age           0
Agent_Rating       54
Store_Latitude      0
Store_Longitude     0
Drop_Latitude       0
Drop_Longitude      0
Order_Date          0
Order_Time          0
Pickup_Time         0
Weather            91
Traffic             0
Vehicle             0
Area                0
Delivery_Time       0
Category            0
dtype: int64

In [113]:
#Amend datatype for date to to_datetime from object

df['Delivery_Time'] = pd.to_datetime(df['Delivery_Time'])
df['Order_Date'] = pd.to_datetime(df['Order_Date'])

In [114]:
# Knowing the data types

df.dtypes

Order_ID                   object
Agent_Age                   int64
Agent_Rating              float64
Store_Latitude            float64
Store_Longitude           float64
Drop_Latitude             float64
Drop_Longitude            float64
Order_Date         datetime64[ns]
Order_Time                 object
Pickup_Time                object
Weather                    object
Traffic                    object
Vehicle                    object
Area                       object
Delivery_Time      datetime64[ns]
Category                   object
dtype: object

In [115]:
# understanding the statistical information about the data
df.describe()

,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Delivery_Time
count,43739.000000,43685.000000,43739.000000,43739.000000,43739.000000,43739.000000,43739,43739
mean,29.567137,4.633780,17.210960,70.661177,17.459031,70.821842,2022-03-13 15:58:10.697089792,1970-01-01 00:00:00.000000124
min,15.000000,1.000000,-30.902872,-88.366217,0.010000,0.010000,2022-02-11 00:00:00,1970-01-01 00:00:00.000000010
25%,25.000000,4.500000,12.933298,73.170283,12.985996,73.280000,2022-03-04 00:00:00,1970-01-01 00:00:00.000000090
50%,30.000000,4.700000,18.551440,75.898497,18.633626,76.002574,2022-03-15 00:00:00,1970-01-01 00:00:00.000000125
75%,35.000000,4.900000,22.732225,78.045359,22.785049,78.104095,2022-03-27 00:00:00,1970-01-01 00:00:00.000000160
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,2022-04-06 00:00:00,1970-01-01 00:00:00.000000270
std,5.815155,0.334716,7.764225,21.475005,7.342950,21.153148,NaN,NaN

In [116]:
# Checking for Duplictes throught the columns

df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
43734    False
43735    False
43736    False
43737    False
43738    False
Length: 43739, dtype: bool

In [91]:
#Checking for Duplicates Order_id

df.duplicated(subset =['Order_ID',])

0        False
1        False
2        False
3        False
4        False
         ...
43734    False
43735    False
43736    False
43737    False
43738    False
Length: 43739, dtype: bool

In [117]:

# Group by Year and Month and count occurrences

df['Order_Date'].dt.to_period('M').value_counts().sort_index()

Order_Date
2022-02     6982
2022-03    30658
2022-04     6099
Freq: M, Name: count, dtype: int64